<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Онлайн Відеохостинг{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <header>
        <div class="header-left">
            <div class="menu-icon"></div>
            <div class="logo">VideoHost</div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Пошук відео...">
        </div>
        <div>
            <a href="{{ url_for('profile') }}" class="profile-icon">👤Profile</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="profile-icon">🚪 Вийти</a>
            {% endif %}
        </div>
    </header>

    <div class="main-layout">
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul class="menu-links">
                    <li><a href="{{ url_for('main') }}" class="url_for">Головна</a></li>
                    <li><a href="{{ url_for('subscriptions') }}" class="url_for">Підписки</a></li>
                </ul>

                <ul class="menu-links">
                    <li><a href="{{ url_for('videohostplus') }}" class="url_for">VideoHostPlus</a></li>
                </ul>
            </nav>
        </aside>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>
