<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн Відеохостинг</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <h1>Модель Відеохостингу</h1>
    </header>
    <nav>
        <a href="#">Головна</a>
        <a href="#">Відео</a>
        <a href="#">Завантажити</a>
        <a href="#">Профіль</a>
    </nav>
    <main>
        <div class="video-card">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
            <h3>Назва Відео</h3>
        </div>
        <!-- Інші відео -->
    </main>
    <footer>
        <p>&copy; 2025 Модель Відеохостингу. Всі права захищені.</p>
    </footer>
</body>
</html>