{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}

<div class="videos-grid">
    {% for filename in videos %}
    <div class="video-card">
        <video width="100%" height="200" controls>
            <source src="{{ url_for('static', filename='uploads/' + filename) }}" type="video/mp4">
            Ваш браузер не підтримує відео.
        </video>
        <div class="video-info">
            <h4>{{ filename }}</h4>
            <p>Відео з локальної папки</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
