html, body {
  overflow: hidden; /* Вимикаємо зовнішню прокрутку */
  background-color: #121212;
  background-attachment: fixed; /* Фон фіксований */
  background-size: cover; /* За потреби */
  font-family: Arial, sans-serif;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  height: 35px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  height: 35px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #9359b8;
}

.menu-icon, .profile-icon, .url_for {
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.search-bar input {
  padding: 6px 13px;
  border: none;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: white;
  width: 300px;
}

.main-layout {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 16px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 12px;
  cursor: pointer;
  color: #ccc;
  border-radius: 8px;
}

.sidebar nav ul li:hover {
  background-color: #333;
  color: white;
}

.sidebar nav ul li a.url_for {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.content {
  flex: 1;
  padding-top: 5px;
  padding-left: 15px;
}

.videos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.video-card {
  width: 240px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.video-card video {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}

.video-info {
  margin-top: 8px;
}

.video-info h4 {
  font-size: 14px;
  margin: 4px 0;
}

.video-info p {
  font-size: 12px;
  color: #555;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.button-container {
  margin-top: 6px;
}

@media (max-width: 1024px) {
  .videos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .videos-grid {
    grid-template-columns: 1fr;
  }
}

/* Profile */
.profile-container, .videos-profile-container {
  margin: 10px 0;
  padding-bottom: 5px;
  border-radius: 10px;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.profile-info h2 {
  font-size: 1.8em;
  margin: 0 0 10px;
  color: #bb86fc;
}

.user-info p {
  color: #ccc;
  margin: 4px 0;
}

.avatar-container {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.profile-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.avatar-upload-form {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.avatar-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid #03dac6;
}

.avatar-upload-label:hover {
  background-color: rgba(15, 164, 187, 0.229);
}

.avatar-upload-form input[type="file"] {
  display: none;
}

.upload-button-form {
  margin: 0;
  display: flex;
  align-items: center;
}

.upload-button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #333;
}

.upload-button-form input[type="file"] {
  display: none;
}

.videos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* вирівнює все вміст вправо */
  margin-top: 10px;
}

.delete-button {
  background-color: #3b3a3c;
  border: none;
  padding: 6px 12px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.delete-button:hover {
  background-color: #686868;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1e1e1e;
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  color: #bbb;
  cursor: pointer;
  transition: 0.2s;
}

.close:hover {
  color: #fff;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-form label {
  font-weight: 500;
}

.upload-form input, .upload-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #2c2c2c;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.upload-form textarea {
  height: 100px;
  resize: none;
}

.upload-form input:focus,
.upload-form textarea:focus {
  border-color: #ab5bca78;
  outline: none;
}

.upload-form button {
  padding: 10px;
  background-color: #7b5cb3;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.upload-form button:hover {
  opacity: 0.85;
}

.file-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-input-wrapper input[type="file"] {
  display: none;
}

.file-label {
  background: #333;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.file-label:hover {
  opacity: 0.85;
}

#file-name {
  color: #bbb;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* ==== Subscribe ==== */

.subscription-container {
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  overflow: hidden;       /* Забороняємо внутрішню прокрутку */
  text-align: center;
}

.subscription-content {
  overflow-y: auto;
  max-height: 100%;
  padding-right: 10px; /* Щоб не було обрізання контенту при прокрутці */
}

.subscription-title {
  font-size: 32px;
  color: #bb86fc;
  margin-bottom: 10px;
}

.subscription-description {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}

.subscription-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

.plan-card {
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.plan-card h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.plan-card p {
  font-size: 20px;
  color: #03dac6;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  color: #bbb;
  text-align: left;
}

.subscribe-button {
  background-color: #7b5cb3;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s;
}

.subscribe-button:hover {
  opacity: 0.85;
}

/* ==== Subscriptions ==== */

.subscriptions-page {
  padding-left: 20px;
}

.subscriptions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
  justify-items: center;
  margin-top: 20px;
}

.subscription-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscription-profile img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
}

.subscription-profile img:hover {
  transform: scale(1.05);
}

.subscription-profile p {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}
